@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-black;
  }

  body {
    @apply font-sans antialiased text-gray-900;
    background-color: #f8f9fa;
    background-image: radial-gradient(circle, #b0b8c1 1px, transparent 1px);
    background-size: 28px 28px;
  }

  ::selection {
    @apply bg-red-200;
  }
}

@layer utilities {
  .shadow-brutal-active {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  }

  .shadow-brutal-none {
    box-shadow: none;
  }
}